<!--TODO:筛选-->
<input style="display: none;" #camera type="file" capture="camera" accept="image/*" (change)="fileChangeEvent($event)">
<input style="display: none;" #file type="file" (change)="fileChangeEvent($event)" />
<mat-stepper (selectionChange)="changed($event);">
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>选取单词</ng-template>

        <image-cropper [imageChangedEvent]="imageChangedEvent" format="png" [allowMoveImage]="true"
            [maintainAspectRatio]="false" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)"
            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
        <button mat-button matStepperNext>下一步</button>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>选取释义</ng-template>
        <image-cropper [imageChangedEvent]="imageChangedEventForCropper2" format="png" [allowMoveImage]="true"
            [maintainAspectRatio]="false" (imageCropped)="imageCropped2($event)" (imageLoaded)="imageLoaded($event)"
            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>

        <button mat-button matStepperPrevious>上一步</button>
        <button mat-button matStepperNext>下一步</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>预览</ng-template>
        <button mat-raised-button (click)="showInterImages=!showInterImages;">{{!showInterImages? '显示':'隐藏'}}</button>
        <div [hidden]="!showInterImages">
            <img #croppedImage1Img [src]="croppedImage1" />
            <img #croppedImage2Img [src]="croppedImage2" />
            <canvas #cleanedImage1></canvas>
            <canvas #cleanedImage2></canvas>
        </div>

        <button mat-button matStepperPrevious>上一步</button>
    </mat-step>
</mat-stepper>