#container {
    width: 200px;
    height: 70px;
    text-align: center;
}

#pron {
    font-size: 48px;
    line-height: 70px;
}

#shield {
    position: absolute;
    width: 200px;
    height: 70px;
    background-color: darkgrey;
}