#main {
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    background-color: ghostwhite;
}

#kanji {
    font-size: 48px;
    line-height: 70px;
    height: 70px;

}

#container {
    width: 200px;
    height: 70px;
    text-align: center;
}

#pron {
    font-size: 48px;
    line-height: 70px;
}

#shield {
    position: absolute;
    width: 200px;
    height: 70px;
    background-color: darkgrey;
}

@media (orientation: landscape) {
    #main {
        max-width: 480px;
        margin: auto;
    }
}