<mat-tab-group id="main" animationDuration="200" color="decent" preserveContent="true" headerPosition="below">
  <mat-tab label="单词表">


    <mat-tab-group style="height: 100%;" animationDuration="100" color="decent" preserveContent="true">
      <mat-tab label="导入">
        <app-target-word-list #target></app-target-word-list>
      </mat-tab>
      <mat-tab label="词书">
        <app-word-book-list name="四级核心A"></app-word-book-list>
      </mat-tab>
    </mat-tab-group>



  </mat-tab>
  <mat-tab label="测验">
    <div [class]="vv>=0?'hint hint-anim':'hint hint-anim-2'" [style.display]="lastOne.length>0?'block':'none'">
      上题答案：{{lastOn|async}}
    </div>
    <div class="example-loading-shade" *ngIf="this.deck.length==0">
      <p style="margin: auto;color: crimson;font-size: 24px;">请先导入单词!</p>
    </div>
    <mat-tab-group style="height: 100%;" animationDuration="200" color="decent" preserveContent="true">
      <mat-tab label="读">

        <div style="height: 100%;padding: 20px;" fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="center center">

          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            模式：
            <mat-button-toggle-group #group="matButtonToggleGroup">
              <mat-button-toggle checked value="list">列表</mat-button-toggle>
            </mat-button-toggle-group>
            <button [disabled]="group.value!=='list'" mat-raised-button (click)="readShuffle()">洗牌</button>
          </div>

          <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
            <app-word-card [value]="currentCursor + ' ' + currentWord" #wc1></app-word-card>

            <!-- 标记正确 -->
            <!--
      背的过程中标记不认识的
      用户输入单词列表
      随机模式移除，增加原顺序
      单词列表支持多种分隔符，自定义分隔符
      输入列表只是一对多关系，用于支持多音字
      自动获取单词释义
      语音识别添加单词
    -->
            <app-scratch-card [value]="currentPron" #card1></app-scratch-card>
          </div>

          <div fxLayout="row" fxLayoutGap="10px">
            <button mat-raised-button [disabled]="this.cursor===0" (click)="lastword()">上一个</button>
            <button mat-raised-button (click)="dontknow()">不认识</button>
            <button mat-raised-button (click)="cli()">下一个</button>
          </div>
        </div>



      </mat-tab>

      <mat-tab label="听">
        <div style="height: 100%;padding: 20px;" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">

          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
            模式：
            <mat-button-toggle-group #group2="matButtonToggleGroup">
              <mat-button-toggle checked value="list">列表</mat-button-toggle>
              <mat-button-toggle value="deathmatch">死斗</mat-button-toggle>
            </mat-button-toggle-group>
            <button mat-raised-button (click)="listenShuffle()">洗牌</button>
          </div>

          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex="1 1 auto">
            <app-word-card [value]="currentCursor" #wc2></app-word-card>
            <app-scratch-card [value]="currentWord" #card2></app-scratch-card>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <button mat-raised-button [disabled]="this.cursor===0" (click)="last()">上一个</button>
            <button mat-raised-button (click)="dontknow()">不认识</button>
            <button mat-raised-button (click)="relisten()">重听</button>
            <button mat-raised-button (click)="next()">下一个</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>



  </mat-tab>
  <mat-tab label="忘记">

    <app-forgot-word-list #forgot></app-forgot-word-list>

  </mat-tab>
</mat-tab-group>