<mat-tab-group id="main" animationDuration="200" color="decent" preserveContent="true" headerPosition="below">
  <mat-tab label="单词表">
    <app-target-word-list #target></app-target-word-list>



  </mat-tab>
  <mat-tab label="测验">


    <div style="height: 100%;padding: 20px;" fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="center center">

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        模式：
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle checked value="list">列表</mat-button-toggle>
        </mat-button-toggle-group>
        <button [disabled]="group.value!=='list'" mat-raised-button (click)="target.shuffle();cli()">洗牌</button>
      </div>

      <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div id="kanji" #kanji></div>

        <!-- 标记正确 -->
        <!--
    背的过程中标记不认识的
    用户输入单词列表
    随机模式移除，增加原顺序
    单词列表支持多种分隔符，自定义分隔符
    输入列表只是一对多关系，用于支持多音字
    自动获取单词释义
    语音识别添加单词
  -->

        <div id="container" (click)="over($event)">
          <div id="shield" [style.display]="hide?'block':'none'"></div>
          <div id="pron" #pron></div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <button mat-raised-button (click)="dontknow()">不认识</button>
        <button mat-raised-button (click)="cli()">下一个</button>
      </div>
    </div>


  </mat-tab>
  <mat-tab label="忘记">

    <app-forgot-word-list #forgot></app-forgot-word-list>

  </mat-tab>
</mat-tab-group>