:host {
    height: 100%;
}

#main {
    height: 100%;
}

.scan {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.tip {
    /* height: 32px; */
    font-size: 18px;
    background-color: lightyellow;
    width: 100%;
    border-radius: 5px;
    padding: 0 10px;
}